<div class="video-container">
    {% if include.source == 'youtube' %}
        <iframe
            src="https://www.youtube-nocookie.com/embed/{{ include.id }}"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    {% elsif include.source == 'vimeo' %}
        <iframe
            src="https://player.vimeo.com/video/{{ include.id }}"
            frameborder="0"
            allow="autoplay; fullscreen"
            allowfullscreen>
        </iframe>
    {% endif %}
</div>